services:
    madedotcom.parameters:
        public: false
        class: Symfony\Component\DependencyInjection\ParameterBag\FrozenParameterBag
        factory: "service_container:getParameterBag"

    madedotcom.event_store.event_name_resolver:
        class: Madedotcom\Bundle\EventStoreBundle\Services\EventNameResolver
        arguments:
            - '@pim_versioning.manager.version'

    madedotcom.event_store.notification_manager:
        class: Madedotcom\Bundle\EventStoreBundle\Services\EventStoreNotificationManager
        arguments:
            - '@madedotcom.event_store.event_name_resolver'
            public: true

    madedotcom.event_store.event_data_validator:
        class: Madedotcom\Bundle\EventStoreBundle\Services\EventDataValidator
        arguments:
            - '@event_dispatcher'
            - '@madedotcom.parameters'

    madedotcom.event_store.writer:
        class: Madedotcom\Bundle\EventStoreBundle\Services\EventStoreWriter
        arguments:
            - '@madedotcom.event_store.event_data_validator'
            - '@event_dispatcher'
            - '@madedotcom.parameters'
